<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>예약 현황</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {'packages':['timeline']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var container = document.getElementById('timeline');
            var chart = new google.visualization.Timeline(container);
            var dataTable = new google.visualization.DataTable();

            dataTable.addColumn({ type: 'string', id: 'Day' });
            dataTable.addColumn({ type: 'string', id: 'Name' });
            dataTable.addColumn({ type: 'string', role: 'tooltip' });
            dataTable.addColumn({ type: 'date', id: 'Start' });
            dataTable.addColumn({ type: 'date', id: 'End' });

            var data = [];

            {% for book in booking_list %}
                data.push(['{{ book.0 }}', '{{ book.1 }}', '{{ book.2 }}', {{ book.3 }}, {{ book.4 }}]);
            {% endfor %}

            dataTable.addRows(data)

            var options = {
                width: 1000,
                height: 400,
                hAxis: {
                    minValue: new Date(0,0,0,9,0),
                    maxValue: new Date(0,0,0,24,0)
                },
                timeline: { colorByRowLabel: true }
            };

            chart.draw(dataTable, options);
        }
    </script>


</head>
<body>
    <h1><a href="">오늘의 예약현황</a></h1>

    <div id="timeline"></div>

    <p>{{ bookling_list }} </p>
</body>
</html>