{% extends 'base.html' %}
{% load staticfiles %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

{% block title %}예약 현황{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/booking_chart.css' %}">
{% endblock %}

{% block body %}
    <h1>강의실별 예약현황</h1>

    <form method="GET">
        <div class="form-group row">
            <div class='col-xs-3'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" name="datepick" value="{{ date }}"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker({
                        format: 'YYYY-MM-DD',
                        useCurrent: true
                    });
                });
            </script>

            <button type="submit" class="btn btn-primary">이동</button>
            <!--예약 추가버튼은 form 밖으로 빼내야 함-->
            <button type="button" class="btn btn-primary" onclick="window.location.href='/booking/create/'">예약추가</button>
        </div>
    </form>

    <div id="timeline" style="width:100%;min-height:450px;"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {'packages':['timeline']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var container = document.getElementById('timeline');
            var chart = new google.visualization.Timeline(container);
            var dataTable = new google.visualization.DataTable();

            dataTable.addColumn({ type: 'string', id: 'Day' });
            dataTable.addColumn({ type: 'string', id: 'Name' });
            dataTable.addColumn({ type: 'string', role: 'tooltip' });
            dataTable.addColumn({ type: 'date', id: 'Start' });
            dataTable.addColumn({ type: 'date', id: 'End' });

            var data = [];

            {% for book in booking_list %}
                data.push(['{{ book.0 }}', '{{ book.1 }}', '{{ book.2 }}', {{ book.3 }}, {{ book.4 }}]);
            {% endfor %}

            dataTable.addRows(data)

            var options = {
                hAxis: {
                    minValue: new Date(0,0,0,9,0),
                    maxValue: new Date(0,0,0,24,0)
                },
                timeline: { colorByRowLabel: true }
            };

            chart.draw(dataTable, options);
        }

        $(window).resize(function(){
            drawChart();
        });
    </script>
{% endblock %}

