<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if user.is_active %}
    <form id="info" method="post" action="./info">
        {% csrf_token %}
        <li> 이름 : <input type="text" value="{{user.username}}" disabled></li>
        <li>
            <label for="{{ form.email.id_for_label }}">이메일 : </label>
            <input class="form-control" id="{{ form.email.id_for_label }}" maxlength="30" name="{{ form.email.html_name }}" type="text" value="{{user.email}}"/></br>
        </li>
        <li> 학번 : <input type="text" value="{{user.student_id}}" disabled></li>
        <li>
            <label for="{{ form.phone_number.id_for_label }}">번호 : </label>
            <input class="form-control" id="{{ form.phone_number.id_for_label }}" maxlength="15" name="{{ form.phone_number.html_name }}" type="text" value="{{user.phone_number}}"/></br>
        </li>
        <li>
            <label for="{{ form.password.id_for_label }}">비밀번호 : </label>
            <input class="form-control" id="{{ form.password.id_for_label }}" maxlength="30" name="{{ form.password.html_name }}" type="password"/></br>
        </li>
        <input type="submit" value="수정하기">
        <a href="/profile">뒤로가기</a>
    </form>
    {% else %}
        <script>
            location.href="/login";
        </script>
    {% endif %}
</body>
</html>