<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% load socialaccount %}
{% providers_media_js %}
<body>
    <form id="login" method="post" action="./">
    {% if user.is_active %}
        <script>
            location.href="/profile";
        </script>
    <!-- 로그인 되어있지 않은 경우 -->
    {% else %}
    {% if form.errors %}
    <!-- 에러발생시 -->
    <p>ID나 비밀번호가 일치하지 않습니다.</p>
    {% endif %}
    <!-- 로그인 폼 -->
    <br method="post" action="./">
    {% csrf_token %}
        <input type="hidden" name="next" value="" />
        <label for="{{ form.username.id_for_label }}">username</label>
        <input class="form-control" id="{{ form.username.id_for_label }}" maxlength="15" name="{{ form.username.html_name }}" type="text" />
        </br>
        <label for="{{ form.password.id_for_label }}">패스워드</label>
        <input class="form-control" id="{{ form.password.id_for_label }}" maxlength="120" name="{{ form.password.html_name }}" type="password" />
        </br>
        <button type="submit">로그인</button>
        <h2><a href="{% provider_login_url 'facebook' method='oauth2' %}">페이스북 로그인</a></h2>
        <button type="button"><a href="/signup">회원가입</a></button>
    </form>
    {% endif %}
</body>
</html>