<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if form.errors %}
        <p>잘못된 정보 입력</p>
    {% endif %}
    <form method="post" action=".">
        {% csrf_token %}
        <p>{{ form.old_password.errors }}
            <lable for="old_password">기존 비밀번호</lable>
            {{ form.old_password }}
        </p>
        <p>{{ form.new_password1.errors }}
            <lable for="new_password1">새로운 비밀번호</lable>
            {{ form.new_password1 }}
        </p>
        <p>{{ form.new_password2.errors }}
            <lable for="new_password2">비밀번호 확인</lable>
            {{ form.new_password2 }}
        </p>
        <input type="submit" value="변경하기">
    </form>
</body>
</html>